
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

    <h2 class="well text-center" style="font-family:'Adobe Arabic';">لیست سیگنال ها</h2>

@section ViewScripts
   {
    <script src="~/Scripts/Factor/Index.js"></script>

}
<div id="FactorList">
</div>